resources/
commit_message.txt

# Ignore accomplishments large files and non-ego enhancing information
accomplishments/Matrix like requests response.mp4
accomplishments/Screen Shot 2025-12-18 at 8.45.53 PM PyPiStats.org speterlin-stocks downloads 2025-11-21->2025-12-18.png
accomplishments/Screen Shot 2025-12-20 at 7.57.04 PM PyPiStats.org speterlin-stocks downloads (2323) 2025-11-21->2025-12-20.png
accomplishments/Screen Shot 2025-12-21 at 5.08.38 PM PyPiStats.org speterlin-stocks downloads (2323) 2025-11-21->2025-12-21.png
accomplishments/Screen Shot 2025-12-27 at 8.55.45 PM PyPiStats.org speterlin-stocks downloads (2259) 2025-11-27->2025-12-27.png
accomplishments/Screen Shot 2026-01-08 at 2.23.52 PM PyPiStats.org speterlin-crypto downloads (374, v1.0.4->191-in-a-day) 2025-12-08->2026-01-08.png

# Ignore costs
costs/

# Ignore stock & crypto data (including portfolio backups) and the default SQLite database.
data/
/db/*.sqlite3-shm
/db/*.sqlite3-wal
/db/*.sqlite3-journal

# Virtual environments
.venv/
venv/
env/

# Ignore personal.py with all of your base urls, keys, secret identities and auth tokens for your APIs (precautionary since already ignored in above call)
personal.py

# Ignore old&extra
old&extra/

# Ignore programs since include email information
programs/

# Ignore programs analysis
programs analysis/

# Need to investigate this folder, created after import personal (personal.py)
__pycache__/

# Ignore event registry settings
eventregistry_settings.json

# Ignore random pip list captures
pip list 2023-12-29.rtf
pip list S Computer 2023-12-29.rtf

# Ignore .DS_Store files, don't know why these are created
.DS_Store
*/.DS_Store
