venv/
personal.py
resources/
deleted/
programs/
commit_message.txt

# maybe include these in the future
cypto.txt
stocks&fixed_income&commodities.txt

# Need to investigate this folder, created after import personal (personal.py)
__pycache__/
