resources/
commit_message.txt

# Ignore accomplishments large files
accomplishments/Matrix like requests response.mp4

# Ignore costs
costs/

# Ignore stock & crypto data (including portfolio backups) and the default SQLite database.
data/
/db/*.sqlite3-shm
/db/*.sqlite3-wal
/db/*.sqlite3-journal

# Virtual environments
.venv/
venv/
env/

# Ignore personal.py with all of your base urls, keys, secret identities and auth tokens for your APIs (precautionary since already ignored in above call)
personal.py

# Ignore old&extra
old&extra/

# Ignore programs
programs/

# Ignore programs analysis
programs analysis/

# Need to investigate this folder, created after import personal (personal.py)
__pycache__/

# Ignore event registry settings
eventregistry_settings.json

# Ignore random pip list captures
pip list 2023-12-29.rtf
pip list S Computer 2023-12-29.rtf

# Ignore .DS_Store files, don't know why these are created
.DS_Store
*/.DS_Store
