setuptools>=61.0
pandas>=2.0
numpy
pycoingecko
datetime
requests>=2.20
python-binance
python-kucoin
twilio
yfinance==0.1.52
beautifulsoup4
alpha_vantage
aiohttp
websockets
urllib3
alpaca-trade-api
alpaca-py
pytrends
openai
langchain-openai
google-generativeai
unidecode
fake_headers
pytz
ndg-httpsclient
