setuptools
pandas
numpy
pycoingecko
datetime
requests>=2.20
python-binance
python-kucoin
twilio
yfinance==0.1.52
beautifulsoup4
alpha_vantage
aiohttp
websockets
urllib3
alpaca-trade-api --no-dependencies
alpaca-py
pytrends
pytz
ndg-httpsclient
